        body {
            font-family: Arial, sans-serif;
            color: #008607;
            margin: 0;
            padding: 0;
            background-color: #a62424;
        }
        #container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #008607;
            text-align: center;
        }
        ul {
            list-style-type: none;
        }
        img {
            display: block;
            max-width: 100%;
            height: auto;
            margin: 20px auto;
        }
        iframe {
            display: block;
            margin: 0 auto;
        }